.transaction-form {
    width: 500px;
    height: 250px;
    padding: 20px;
    background: #333333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
} 

.transaction-form span {
    margin-bottom: 15px;
    font-size: 24px;
    color: #fff;
    position: relative;
}

.transaction-form span:after {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background: #a3e635;
    transition: 0.3s;
    bottom: -6px;
}

.transaction-form span:hover {
    color: #a3e635;

}

.transaction-form span:hover::after {
    width: 100%;
}

.transaction-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transaction-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.transaction-form input[readonly] {
    background-color: #f5f5f5;
    cursor: not-allowed;
}

.transaction-form button {
    margin: 20px 0;
    padding: 12px;
    font-size: 18px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.transaction-form button:hover {
    background: #0056b3;
}

.transaction-form p {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

h1{
    position: relative;
    margin-bottom: 40px;
}

h1:after {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background: #a3e635;
    transition: 0.3s;
    bottom: -6px;
}

h1:hover {
    color: #a3e635;
}

h1:hover::after {
    width: 100%;
}

/* .transaction-list styling  */

.transaction-list h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #fff;
    position: relative;
}

.transaction-list h2:after {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background: #a3e635;
    transition: 0.3s;
    bottom: -6px;
}

.transaction-list h2:hover {
    color: #a3e635;

}

.transaction-list h2:hover::after {
    width: 100%;
}